#### J034 Meghna Jayakar Lab 3 Part 2

4/8/24

In [1]:
import numpy as np
import pandas as pd
import re

In [9]:
df = pd.read_csv('./date_parser_testcases.csv')
df.head()

                                               Input Expected Output
0        The event will take place on March 5, 2023.      05/03/2023
1                     Her birthday is on 07/08/1990.      07/08/1990
2                        The deadline is 2022-12-31.      31/12/2022
3                     We met on 1st of January 2000.      01/01/2000
4  The concert is scheduled for 15th September, 2...      15/09/2021

#### Parse Date Function

In [16]:
def parse_date(text):
    patterns = [r'(\d{1,2})(?:st|nd|rd|th)?\s(of\s)?(\b\w+\b)\s(\d{4})',  
        r'(\b\w+\b)\s(\d{1,2})(?:st|nd|rd|th)?,?\s(\d{4})',               
        r'(\d{4})[-/\.](\d{1,2})[-/\.](\d{1,2})',                         
        r'(\d{1,2})[-/\.](\d{1,2})[-/\.](\d{4})',                         
        r'(\d{1,2})[-/\.](\d{1,2})[-/\.](\d{2})',                         
        r'(\d{4})[-/](\d{1,2})[-/](\d{1,2})',                             
        r'(\b\w+\b)\s(\d{1,2})(?:st|nd|rd|th)?\s?,\s?(\d{4})',            
        r'(\b\w+\b)\s(\d{1,2})(?:st|nd|rd|th)?(\s|,)\s?(\d{4})',          
        r'(\d{1,2})(?:st|nd|rd|th)?\s(of\s)?(\b\w+\b),?\s(\d{4})',
        r'(\b\w+\b)\s(\d{1,2})(?:st|nd|rd|th)?,?\s(\d{4})']
    
    month_map = {
        'january': '01', 'february': '02', 'march': '03', 'april': '04',
        'may': '05', 'june': '06', 'july': '07', 'august': '08',
        'september': '09', 'october': '10', 'november': '11', 'december': '12',
        'jan': '01', 'feb': '02', 'mar': '03', 'apr': '04', 'jun': '06',
        'jul': '07', 'aug': '08', 'sep': '09', 'oct': '10', 'nov': '11', 'dec': '12',
        'January': '01', 'February': '02', 'March': '03', 'April': '04',
        'May': '05', 'June': '06', 'July': '07', 'August': '08',
        'September': '09', 'October': '10', 'November': '11', 'December': '12',
        'Jan': '01', 'Feb': '02', 'Mar': '03', 'Apr': '04', 'Jun': '06',
        'Jul': '07', 'Aug': '08', 'Sep': '09', 'Oct': '10', 'Nov': '11', 'Dec': '12'
    }

    for pattern in patterns:
        match = re.search(pattern, text, re.IGNORECASE)
        if match:
            groups = match.groups()
            if len(groups) == 4: 
                if groups[0].isdigit(): 
                    day = groups[0].zfill(2)
                    month = month_map[groups[2].lower()]
                    year = groups[3]
                else:  
                    month = month_map[groups[0].lower()]
                    day = groups[1].zfill(2)
                    year = groups[2]
            elif len(groups) == 3:  
                year, month, day = groups
                day = day.zfill(2)
                month = month.zfill(2)
                if len(year) == 2: 
                    year = "20" + year if int(year) <= 50 else "19" + year
            elif len(groups) == 2: 
                day, month, year = groups
                day = day.zfill(2)
                month = month.zfill(2)
                if len(year) == 2: 
                    year = "20" + year if int(year) <= 50 else "19" + year

            return f"{day}/{month}/{year}"
    
    return "No date found"

In [17]:
df['Parsed Date'] = df['Input'].apply(parse_date)
df.head()

,Input,Expected Output,Parsed Date,Match
0,"The event will take place on March 5, 2023.",05/03/2023,2023/05/March,False
1,Her birthday is on 07/08/1990.,07/08/1990,1990/08/2007,False
2,The deadline is 2022-12-31.,31/12/2022,31/12/2022,True
3,We met on 1st of January 2000.,01/01/2000,01/01/2000,True
4,"The concert is scheduled for 15th September, 2...",15/09/2021,15/09/2021,True

#### Checking if the Parsed Date and Expected Output match

In [18]:
df['Match'] = df['Parsed Date'] == df['Expected Output']
df

,Input,Expected Output,Parsed Date,Match
0,"The event will take place on March 5, 2023.",05/03/2023,2023/05/March,False
1,Her birthday is on 07/08/1990.,07/08/1990,1990/08/2007,False
2,The deadline is 2022-12-31.,31/12/2022,31/12/2022,True
3,We met on 1st of January 2000.,01/01/2000,01/01/2000,True
4,"The concert is scheduled for 15th September, 2...",15/09/2021,15/09/2021,True
...,...,...,...,...
95,"We celebrate Independence Day on 2023-07-04, a...",04/07/2023,04/07/2023,True
96,The final date for submission is 30th November...,30/11/2022,30/11/2022,True
97,"The annual conference is on 15th October 2023,...",15/10/2023,15/10/2023,True
98,"His birthdate, noted as 1990-05-20, is in the ...",20/05/1990,20/05/1990,True
99,The festival will be celebrated on 12th August...,12/08/2024,12/08/2024,True

#### Count of Wrongly Parsed Dates

In [23]:
df[df['Match'] == False]['Match'].count()

49

#### Count of Correctly Parsed Dates

In [24]:
df[df['Match'] == True]['Match'].count()

51